data/
mnist/
korean word data/

utils/

!utils/ann.conf
!utils/annotator.py
!utils/load_data.py
!utils/make_image.py
!utils/weight.txt

.spyproject/
__pycache__/

model/

!model/car_detect_model.h5
!model/model.h5

dist/
!dist/module/car_plate_recognition.py
!dist/module/parking_entry_main.py
!dist/module/main_process.py




